


.profile_photo {
    height: 80px;
    width: 100px
}


/* styles.css */

.pagination {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    marker: none;
}

.pagination li {
    list-style-type: none; /* Prevent default browser markers */
}
.pagination a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid #ddd;
    marker: none;
    margin-right: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.pagination a:hover {
    background-color: white;
}
